Repository voxpupuli/puppet-rsyslog, pull requests merged in 2020-10, with the labels that each got.

#165 Fix issues with the expression filter keys
  README.md
  manifests/component/expression_filter.pp
  templates/expression_filter.epp
  templates/ruleset.epp
Labels: bug, hacktoberfest

#166 Update several examples in documentation to include Puppet examples
  README.md
  examples/common.yaml
Labels: docs

#167 Release 5.1.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#168 modulesync 3.1.0
  .github/CONTRIBUTING.md
  .msync.yml
  .overcommit.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  spec/acceptance/nodesets/archlinux-2-x64.yml
  spec/acceptance/nodesets/ec2/amazonlinux-2016091.yml
  spec/acceptance/nodesets/ec2/image_templates.yaml
  spec/acceptance/nodesets/ec2/rhel-73-x64.yml
  spec/acceptance/nodesets/ec2/sles-12sp2-x64.yml
  spec/acceptance/nodesets/ec2/ubuntu-1604-x64.yml
  spec/acceptance/nodesets/ec2/windows-2016-base-x64.yml
  spec/spec_helper.rb
Labels: modulesync
