Repository voxpupuli/puppet-rsyslog, pull requests merged in 2020-02, with the labels that each got.

#143 Configure /etc/rsyslog.conf after package installation
  manifests/base.pp
Labels: bug

#145 modulesync 2.10.1
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#146 release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
