Repository voxpupuli/puppet-rsyslog, pull requests merged in 2023-06, with the labels that each got.

#219 modulesync 6.0.0
  .msync.yml
  Gemfile
  spec/spec_helper_acceptance.rb
Labels: modulesync

#224 Fix lookup_tables typo in readme examples
  README.md
Labels: docs

#226 Fix `global_config` rendering
  manifests/config/global.pp
Labels: bug

#227 Release 7.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
