Repository voxpupuli/puppet-rsyslog, pull requests merged in 2023-09, with the labels that each got.

#214 Add warning to indicate that the files are managed by Puppet.
  manifests/generate_concat.pp
Labels: enhancement

#230 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#209 Fix old client/server model reference in README
  CONTRIBUTORS.md
  README.md
Labels: docs

#234 metadata.json: allow puppetlabs-concat < 10
  metadata.json
Labels: enhancement
