Repository voxpupuli/puppet-rsyslog, pull requests merged in 2025-02, with the labels that each got.

#254 Release 7.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#249 modulesync 9.4.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#247 README: puppet refuses to parse class attributes as strings
  README.md
  REFERENCE.md
  manifests/config.pp
Labels: bug, docs
